.container {
    max-width: 99%;
    height: 92%;
}

.card-block {
    display: block;
    color: rgb(23, 43, 77);
    display: block;
    left: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 45px;
    position: absolute;
    right: 0px;
    height: 100%;
    white-space: nowrap;
}

    .card-block .parent-card {
        width: 300px;
        display: inline-flex;
        height: 100%;
        margin-right: 16px;
    }

    .card-block .new-parent-card {
        height: 0px;
    }

        .card-block .parent-card .parent-card-header {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            border: 0;
            font-size: 18px;
            white-space: normal;
            cursor:pointer;
        }

        .card-block .parent-card .parent-card-body {
            overflow-y: auto;
        }

        .card-block .parent-card .parent-card-footer {
            cursor: pointer;
            font-size: 18px;
            padding-top: 15px;
            background-color: rgba(9,30,66,.03);
            font-weight: 400;
        }

            .card-block .parent-card .parent-card-footer:hover {
                background-color: gray;
                background-color: rgba(9,30,66,.13);
            }

    .card-block .sub-card {
        white-space: normal;
        cursor: pointer;
    }

.edit-card {
    background-clip: padding-box;
    background-origin: padding-box;
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    right: 2px;
    visibility: hidden;
    top: 2px;
}

.card-body:hover ~ .edit-card {
    visibility: visible;
}
.edit-card:hover {
    visibility: visible;
}

.ui-state-highlight {
    width: 200px;
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 10px;
}