<div class="container">
    <a class="btn btn-primary btn-round" href="/Home/Index">
        <i class="material-icons">list</i> Listas
    </a>
    <div class="col-12 mt-5">
        <div class="card card-nav-tabs text-center">
            <div class="card-body about">
                <h3 class="title">
                    ToDo foi feito para facilitar a vida do usuário para definir suas tarefas e de sua equipe.
                </h3>
                <h4 class="title">
                    Nada mais é do que uma ferramenta para criação, edição e compartilhamento de listas de atividades.
                </h4>

                <h3 class="description">
                    <small class="text-muted">
                        <ul>
                            <li>
                                Inicialmente é necessário informar seu e-mail para poder criar ou exibir suas listas.
                            </li>
                            <li>
                                Em seguida será exibido as listas que você criou, nela você poderá:
                                <ul>
                                    <li>
                                        Criar uma nova lista.
                                    </li>
                                    <li>
                                        Excluir uma existente.
                                    </li>
                                    <li>
                                        E editar os itens da lista.
                                    </li>
                                </ul>
                            </li>


                            <li>
                                Ao clicar em editar os itens da lista, você poderá:
                                <ul>
                                    <li>
                                        Adicionar um novo item.
                                    </li>
                                    <li>
                                        Editar um item:
                                        <ul>
                                            <li>
                                                Alterar a descrição.
                                            </li>
                                            <li>
                                                Remover o item.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Adicionar um novo sub-item.
                                    </li>
                                    <li>
                                        Editar um sub-item:
                                        <ul>
                                            <li>
                                                Alterar a descrição.
                                            </li>
                                            <li>
                                                Transformá-lo em um item principal.
                                            </li>
                                            <li>
                                                Remover o sub-item.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Compartilhar a lista através de um e-mail válido ou somente passando o link.
                                    </li>
                                    <li>
                                        Para alterar uma posição de um item, basta arrastá-los para os lados.
                                    </li>
                                    <li>
                                        Para alterar a posição de um sub-item, basta arrastá-los para cima ou para baixo ou para dentro de outro item.
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </small>
                </h3>
            </div>
        </div>
    </div>
</div>

