@model IEnumerable<ListItems>
@using ToDo.Models
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="col-5">
        <h3>Welcome dusommer@hotmail.com</h3>
        <div class="card card-nav-tabs text-center">
            <div class="card-header card-header-primary">
                <h3> Lists of items</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    Lists you have created
                </h4>
                @foreach (var item in Model)
                {
                    <blockquote class="blockquote mb-2">
                        <span class="font-weight-bold">@item.Name</span>
                        <a class="btn btn-sm btn-success btn-just-icon btn-fill btn-round btn-wd" href="/Item/Index">
                            <i class="material-icons">mode_edit</i>
                        </a>
                        <a href="#pablo" class="btn btn-sm btn-danger btn-just-icon btn-fill btn-round">
                            <i class="material-icons">delete</i>
                        </a>
                    </blockquote>
                }
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>

    </div>
</div>
