@using ToDo.Models

@{
    ViewBag.Title = "Home Page";
}

<script>
    $(document).ready(function () {
        $("#itemSortable .static").each(function () {
            $(this).attr("id", "cardToAddNewItem-" + $(this).index());
        });

        $("#itemSortable").sortable({
            placeholder: 'ui-state-highlight',
            dropOnEmpty: true,
            revert: true,
            axis: "x",
            opacity: 0.5,
            cancel: ".disable-item-sorting",
            update: function (event, ui) {

                 $("#itemSortable .static").each(function() {
                   var desiredLocation = $(this).attr("id").replace("cardToAddNewItem-","");
                   var currentLocation = $(this).index();
                   while(currentLocation < desiredLocation) {
                     $(this).next().insertBefore(this);
                      currentLocation++;
                    }
                    while(currentLocation > desiredLocation) {
                     $(this).prev().insertAfter(this);
                      currentLocation--;
                    }
                });




                var itens = "";
                $("#itemSortable").find(".item-card").each(function () {
                    var itemId = $(this).attr("data-item-id");
                    itens = itens + "," + itemId;
                });
                $.ajax({
                    url: '@Url.Action("UpdateItem", "Home")',
                    data: { itens: itens },
                    type: 'POST',
                    success: function (data) {

                    },
                    error: function (xhr, status, error) {

                    }

                });
            }
        });

        $("div[id^='subItemsortable']").sortable({
            opacity: 0.5,
            revert: true,
            dropOnEmpty: true,
            scroll: true,
            update: function (event, ui) {
                var itemIds = "";
                $("div[id*='subItemsortable']").find(".sub-item-card").each(function () {
                    var itemId = $(this).attr("data-sub-item-id");
                    itemIds = itemIds + "," + itemId;
                });
                $.ajax({
                    url: '@Url.Action("UpdateSubItem", "Home")',
                    data: { itemIds: itemIds },
                    type: 'POST',
                    success: function (data) {

                    },
                    error: function (xhr, status, error) {

                    }

                });
            },
            stop: function (event, ui) {

            },
            receive: function(event, ui) {
            },
            connectWith: "div[class*='sortable']"
        });

    });

    function SaveNewItem() {
        var description = document.getElementById("inptNewItem").value;
        $.ajax({
            url: '@Url.Action("SaveNewItem", "Home")',
            data: { description: description },
            type: 'POST',
            success: function (data) {

            },
            error: function (xhr, status, error) {

            }
        });
    }

    function AddNewItem() {
        document.getElementById("inptDescription").value = "";
        document.querySelector('[id*="cardToAddNewItem-"]').classList.add("d-none");
        document.getElementById("cardAddNewItem").classList.remove("d-none");

    }
    function CancelAddNewItem() {
        document.querySelector('[id*="cardToAddNewItem-"]').classList.remove("d-none");
        document.getElementById("cardAddNewItem").classList.add("d-none");
    }
</script>
<div class="container">
    <div class="card-block" id="itemSortable">
        @Html.Partial("PartialItens", ViewBag.ListItens as List<Item>)

        <div class="card item-card new-item-card disable-item-sorting d-none" data-item-id="-1" id="cardAddNewItem">
            <div class="card-header card-header-primary item-card-header">
                Enter a new item
                <input type="text" class="form-control" placeholder="Description" id="inptDescription">
                <div class="float-right d-inline-flex">
                    <button class="btn btn-link">
                        <i class="fa fa-save"></i>
                    </button>
                    <button class="btn btn-link" onclick="CancelAddNewItem()">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card item-card new-item-card disable-item-sorting static" data-item-id="-1">
            <div class="card-header card-header-primary item-card-header">
                <div id="lblNewItem" onclick="AddNewItem()">+ Add new item</div>
            </div>
        </div>
    </div>
</div>
