@model IEnumerable<ListItemResponse>
@using ToDo.Models.Arguments.ListItem
@{
    ViewBag.Title = "Início";
}
<script>
</script>
<div class="container">
    @{
        <a class="btn btn-info btn-round" href="/Home/About">
            <i class="material-icons">info</i> Sobre
        </a>
        if (string.IsNullOrEmpty(ViewBag.UserEmail))
        {
            @Html.Partial("PartialEmail")
        }
        else
        {
            @Html.Partial("PartialLists", Model)
        }
    }
</div>

@Html.Partial("PartialModalNewList")