@model IEnumerable<ListItemResponse>
@using ToDo.Models.Arguments.ListItem
@{
    ViewBag.Title = "Home";
}
<script>
    function CloseModal() {
        $("#addListModal").modal("hide");
    }

    function AddList() {
        document.getElementById("inptName").value = "";
        $("#addListModal").modal("show");
    }
</script>
<div class="container">
    @{
        if (string.IsNullOrEmpty(ViewBag.UserEmail))
        {
            @Html.Partial("PartialEmail")
        }
        else
        {
            @Html.Partial("PartialLists", Model)
        }
    }
</div>

@Html.Partial("PartialModalNewList")