@model IEnumerable<ListItemResponse>
@using ToDo.Models.Arguments.ListItem
@{
    ViewBag.Title = "Início";
}
<script>
</script>
<div class="container">
    @{
        if (string.IsNullOrEmpty(ViewBag.UserEmail))
        {
            @Html.Partial("PartialEmail")
        }
        else
        {
            @Html.Partial("PartialLists", Model)
        }
    }
</div>

@Html.Partial("PartialModalNewList")