@using (Ajax.BeginForm("EnterEmail", "Home", new AjaxOptions() { OnSuccess = "window.location = '" + Url.Action("Index", "Home") + "'", HttpMethod = "POST" }))
{
    <div class="col-5 mt-5 offset-3">
        <div class="card card-nav-tabs text-center">
            <div class="card-header card-header-primary">
                <h3>Enter your e-mail</h3>
                <h5>To show all lists you have</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="inptEmail">Email address</label>
                        <input type="email" class="form-control" name="inptEmail" id="inptEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
}